<div class="bs-component container">
  <div align="center">
    <div class="jumbotron">
      <p>申し込みが完了しました</p>
      <p><%= link_to "マイページへ", mypage_path(current_user.id), class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
</div>
