  <h3>依頼者プロフィール情報
  <ul>
    <li>名前</li>
  </ul>
   </h3>
   <li class="list-group-item">
        <span class="badge">何件</span>
        ~依頼した案件情報~
    </li>
  <div class="col-lg-4 col-md-5 col-sm-6">
        <aside class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-warning">未確定案件</h4>
          </div>
          <div class="panel-body">
            <p>何人</p>
            <div><button id="anti-yu-gothic-button" class="btn btn-warning btn-block">詳細</button></div>
          </div>
        </aside>
     </div>
     <div class="col-lg-4 col-md-5 col-sm-6">
        <aside class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-warning">確定案件</h4>
          </div>
          <div class="panel-body">
            <p>何人</p>
            <div><button id="anti-yu-gothic-button" class="btn btn-warning btn-block">詳細</button></div>
          </div>
        </aside>
     </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    <li class="list-group-item">
        <div class="badge">何件</div>
    ~受けた案件情報~
      </li>
     <div class="col-lg-4 col-md-5 col-sm-6">
        <aside class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-warning">確定案件</h4>
          </div>
          <div class="panel-body">
            <p>何人</p>
            <div><button id="anti-yu-gothic-button" class="btn btn-warning btn-block">詳細</button></div>
          </div>
        </aside>
     </div>
