<div class="container">
  <div class="row ">
    <div class="my col-xs-6 row panel-default">
        <div class="name col-xs-8 text-center panel-body">
          <p>名前</p>
        </div>
        <br>
        <div class="place col-xs-8 text-center panel-body">
          <p>場所</p>
        </div>
    </div>
    <div class="photo　col-xs-6">
      <img src="./images.png"></img>
    </div>
    <br>
    <div class="panel panel-default">
            <div class="panel-body">
              プロフィール
            </div>
          </div>
          <div class="progress-bar" style="width: 45%"></div>
    <div class="col-xs-12">
      <div class="dogs row">
        <div class="dog col-xs-2 panel panel-default">
          犬1
          <div class="panel-body">
          </div>
        </div>
      </div>
      <div id="reqs"class="row">
        <h4>現在受け付け中のもの</h4>
        <div class="req panel panel-default">
          <div class="panel-body">
            <div class="date col-xs-1">日付</div>
            <div class="time col-xs-1 ">時間</div>
            <div class="place col-xs-11 ">場所</div>
            <div class="entry col-xs-offset-10 col-xs-2">
              <input type="button" value="申し込む" class="btn btn-default">
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
